html{
    width: 100%;
    background-image: url(../Img/culture2.jpg);
    height: 100%
}
body{
    width: 100%;
}

.navbar {
    background-color: green;
    border: none;
    
}

.navbar-default .navbar-brand{
   color: white;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}

/*landing*/

#landing {
    margin-top: 50px;
    height: 98%;
    background-image: url(../Img/landing1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

#landing .col-md-12{
    margin-top: 240px;
}

#landing h2{
    font-size: 60px;
}

#landing p{
    font-size: 25px;
}



/*Info*/

#info iframe{
    width: 100%;
    height: 200px;
}

/*culture*/

#culture{
    height: 98%;
    background-color: black;
}

#culture .col-md-12{
    margin-top: 50px;
    margin-bottom: 70px;
}

#culture h2{
    font-size: 45px;
    color: white;
}

#culture p{
    color: white;
    font-size: 20px;
}

#culture img{
    height: 350px;
    width: 250px;
}

/*visit*/

#visit{
    height: 98%;
    background-color: silver;
}

#visit .col-sm-12{
    margin-top: 50px;
    margin-bottom: 70px;
}

#visit h2{
    font-size: 45px;
    color: white;
}

#show1{
    background-image: url(../Img/visit2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 350px;
  
    
    
}

#show2{
    background-image: url(../Img/visit1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 350px;
}

.vis{
    margin-top: 270px;
    background-color: green;
    
}
    
/*Merch*/

#merch{
    height: 98%;
    background-color: black;
}


#merch h2{
    font-size: 45px;
    color: white;
}

#merch img{
    margin-left: px;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

#merch h4{
    font-size: 30px;
    margin-top: 10px;
    color: white;
    margin-bottom: 40px;
}

#merch h5{
    font-size: 25px;
    color: white;
}

#merch p{
    font-size: 17px;
    color: white;
}

/*contact*/

#contact{
    height: 98%;
    background-image: url(../Img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}


#contact p {
    font-size: 40px;
    margin-top: 350px;
}
   
    




    

